      .navbar {
        margin-bottom: 0;
        border-radius: 0;
      }
      .row.content {height: 450px}
      .sidenav {
        padding-top: 20px;
        background-color: #f1f1f1;
        height: 100%;
      }
      footer {
        background-color: #555;
        color: white;
        padding: 15px;
      }
      @media screen and (max-width: 767px) {
        .sidenav {
          height: auto;
          padding: 15px;
        }
        .row.content {height:auto;}
      }
      #food {
        width: 50%;
        display: table;
        margin: 0px auto 20px;
      }
      #cs {
        width: 40%;
        display: table;
        margin: 0px auto 20px;
      }
      #contacts {
        width: 40%;
        display: table;
        margin: 40px auto 20px;
      }
      